@{
    ViewBag.Title = "About";
}


<div class="justify-content-center p-3" style="text-align:justify">
    <h2>@ViewBag.Title Us...</h2>

    <p>
        Job Here has launched a unique single window facility for job seekers and employers to boost employment. Job Here Portal is envisaged to be a one-stop solution or all-inclusive support system for job search and recruitment.</p>

        <p>We leveraging the power of information technology to bring job seekers, employers and other service providers on a common platform through Job Here. It is envisaged as a platform beyond a regular job bank and has multiple features that are engaging and interesting for the job seekers and job providers.</p>

       <p> Now students passing out of various Govt. and non government institutes across India will get access to a Job Portal. Companies who would like to recruit students from colleges or institutes henceforth need not even visit colleges. State Job Portal provides you with end-to-end recruitment solution starting with job posting till final offer letter issuance.
    </p>
</div>