@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    Job Here Plaza<br />
    Indore<br/>
    Madhya Pradesh<br />
    <abbr title="Phone">Ph:</abbr>
    0731-4536472
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>